body {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 36px;
}

#options button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#options button:hover {
  background-color: #555;
}

#feedback {
  margin-top: 20px;
  font-weight: bold;
}

#feedback p {
  margin-top: 10px;
}

#result {
  margin-top: 20px;
  font-size: 24px;
}

/* Style for next and previous buttons */
button {
  padding: 15px 30px; /* Increase padding to make buttons bigger */
  background-color: blue; /* Set button background color to blue */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px; /* Add margin to separate buttons from options */
}

button:hover {
  background-color: #0066cc; /* Darken the blue color on hover */
}
