 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.question {
    margin-bottom: 20px;
}
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.option {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-container {
    text-align: center;
}
.result-container {
    text-align: center;
}
.buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
